# Authentication
GOOGLE_ID=key_goes_here
GOOGLE_SECRET=key_goes_here
GITHUB_ID=key_goes_here
GITHUB_SECRET=key_goes_here
FACEBOOK_ID=key_goes_here
FACEBOOK_SECRET=key_goes_here
NEXTAUTH_URL=http://localhost:3000

# Stripe
STRIPE_PUBLIC_KEY=key_goes_here
STRIPE_SECRET_KEY=key_goes_here

# Stripe Terminal/CLI
STRIPE_SIGNING_SECRET=key_goes_here

# Firebase Admin
FIREBASE_ADMIN_CLIENT_ID=key_goes_here
FIREBASE_ADMIN_PRIVATE_KEY_ID=key_goes_here
FIREBASE_ADMIN_PRIVATE_KEY="private_key_goes_here"

HOST=http://localhost:3000

# Need to add this to... google cloud
# http://localhost:3000/api/auth/callback/google